<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="stylesheet" href="estilo.css">
<title><div id="titulo"></div> </title>
</head>
<body>
<table align="center">
	<tr>
		<td class="style1" style="width: 51px">&nbsp;</td>
		<td class="style1" style="width: 655px">
		<h1 class="title"> <div id="titulo"></div> </h1>
		<td class="style1">&nbsp;</td>

	</tr>
	<tr>

		<td class="style1" style="width: 51px">&nbsp;</td>
		<td class="style1" style="width: 655px">&nbsp;</td>
		<td class="style1">&nbsp;</td>

	</tr>
</table>

<div id="menu"> 
</div>


<table align="center" id="post">
	<tr>
	<td> 
		<div id="breadcrumbs">
			<h2 class="title">Who i'am?</h2>
            <div id="about"></div>
			<div class="separador">&nbsp;</div>
		    
            <p><div id="about-2"></div>
		
        </div>
	</td>
	</tr>
</table>

<table align="center" id="post">
	<tr>
	<td> 
		<div id="breadcrumbs">
			<h2 class="title">All Posts</h2>
			<div class="separador">&nbsp;</div>

		<p>
            <div id="allPosts"></div>
		<p>		
		</div>
	</td>
	</tr>
</table>



<div id="footbar">
 Copyright (c) 2021, all rights reserved.
<p>Powered by JMallone.
</div>

</body>
</html>
